.dashboard {
  position: absolute;
  top: 50%;
  width: 100%;
}

.dashboard.col.s12.m6 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-floating.btn-large {
  margin: 10px;
}

p.dashboard-text {
  text-align: center;
  color: white;
}
