html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: rgb(70, 68, 66);
  min-height: 100%;
}

form {
  padding: 0px 20px 0px 20px;
}

h6 {
  margin: 20px 0;
  font-weight: bold !important;
}

.waves-effect.waves-light.btn-small {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.medium.material-icons {
  font-size: 4rem;
}

.preloader-wrapper {
  position: absolute !important;
  top: 45%;
  left: 45%;
}
